.date-division {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* width: 100%; */
  width: 220px;
  margin: 20px 0;
}

.date {
  font-size: 2rem;
  font-weight: 400;
}

.line {
  border-color: black;
  width: 80px;
  height: 0.5px;
}

@media only screen and (min-width: 767px) {
  .date-division {
  }
}