.date-division {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  margin: 20px 0;
}

.date {
  font-size: 2rem;
  font-weight: 400;
}

.line {
  border-color: black;
  width: 20vw;
  height: 0.5px;
}

@media only screen and (min-width: 768px) {
  .date-division {
    width: 52vw;
    max-width: 378px;
  }

  .line {
    width: 15vw;
  }
}

@media only screen and (min-width: 1024px) {
  .date-division {
    width: 48vw;
    max-width: 500px;
  }
  
  .line {
    width: 12vw;
  }
}

