.header-simple {
  display: flex;
  justify-content: left;
  width: 80vw;
  min-width: 270px;
  padding: 20px 0;
}

.header-simple h1 {
  margin: 10px 20px;
}

@media only screen and (min-width: 768px) {
  .header-simple {
    padding: 10px;
  }
}