.header-patients-container {
  display: flex;
  min-width: 90vw;
  max-width: 95vw;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5px;
}

.profile-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: var(--secondary-color);
}

.no-button {
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
}

.no-button:hover {
  color: var(--secondary-color);
}
