.input-date-container {
  margin: 5px;
  font-size: 1.6rem;
  width: 80vw;
}

.input-date {
  border: 2px solid var(--secondary-color);
  border-radius: 7px;
  padding: 10px;
  margin-top: 10px;
  font-family: var(--font-principal);
  min-width: 40vw;
}

@media only screen and (min-width: 768px) {
  .input-date {
    min-width: 10vw;
  }
}

