.patient-button {
  width: 80vw;
  min-width: 270px;
  margin: 7px;
  padding: 10px 15px;
  background-color: transparent;
  color: var(--dark-color);
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: left;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
} 

.title, .subtitle {
  margin: 0;
}

.title {
  color: var(--dark-color);
  font-weight: 500;
}

.subtitle {
  color: var(--secondary-color);
}

@supports (-webkit-touch-callout: none) {
  button, a {
    color: var(--dark-color);
  }
}

@media only screen and (min-width: 768px) {
  .patient-button {
    min-width: 320px;
    max-width: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .patient-button {
    min-width: 400px;
    max-width: 500px;
    padding: 10px 15px;
  }

  .title, .subtitle {
    margin: 5px;
    font-size: 1.8rem;
  }
}