.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  padding: 20px;
}

.header-home {
  margin: 10px;
}

.title-home {
  font-size: 3.5rem;
  font-weight: bolder;
}

.presentation-text {
  margin: 20px 0;
  font-size: 1.8rem;
  max-width: 80vw;
}

.information-dynamic--container {
  align-self: self-start;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.features-container {
  margin: 10px;
  max-width: 400px;
}

.features-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.features-list--container {
  margin: 35px 0;
}

.features-container li {
  font-size: 1.6rem;
}

.demo-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.youtube-video--container {
  display: flex;
  padding: 20px 0;
}

.legal-area-section {
  align-self: self-start;
  padding: 0 10px;
}

@media only screen and (min-width: 768px) {
  .home {
    align-items: flex-start;
  }

  .information-dynamic--container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 15px;
  }  

  .demo-video {
    align-items: self-start;
  }
}