.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.img {
  border-radius: 50%;
  margin: 15px;
}

@keyframes attentionAnimation {
  0%, 100% {
    transform: scale(1); /* Escala normal del contenedor */
  }
  50% {
    transform: scale(1.06); /* Escala aumentada durante la mitad de la animación */
  }
}

.login-message-container {
  display: flex;
  justify-content: center;
  max-width: 300px;
  animation: attentionAnimation 2s infinite;
}

.login-message {
  max-width: 200px;
  font-size: 1.8rem;
  text-align: center;
  margin: 50px;
}


