.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  max-width: 70vw;
  padding-top: 90px;
}

.check-container .check {
  width: 70px;
  height: 70px;
}

@media only screen and (min-width: 768px) {
  .success {
    max-width: 600px;
  }
}