@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Inter:wght@100;200400;500;800;900&display=swap');

:root {
  --font-principal: 'Inter', sans-serif;
  --primary-color: rgb(228, 225, 225);
  --secondary-color: #2F80ED;
  --third-color: #5861E2;
  --dark-color: rgb(17, 17, 17);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  min-width: 320px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body {
  font-family: var(--font-principal);
}

a button {
  all: unset; /* Restablece todos los estilos */
  color: black; /* Establece el color del texto */
}

a {
  color: var(--dark-color); 
  text-decoration: none;
}

button {
  color: var(--dark-color)
}

a:-webkit-any-link {
  color: var(--dark-color);
}
